{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<!-- Password reset sent! -->
<div class="container p-5">
  <h2 class="font-weight-bold m-3">Password reset sent</h2>
  <hr>
  <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
      <br> If you don't receive an email, please make sure you've the address you registered with, and check your spam folder.</p>
  <form action="" method="POST">
    {% csrf_token %}
    {{ password_reset_form|crispy }}
    <button class="btn btn-primary" type="submit">Send email</button>
  </form>
</div>
{% endblock %}